@page
@model Kubit.Core.Cliente.Pages.Autenticacion.LoginModel

@{
    Layout = "~/Pages/Shared/_LayoutLogin.cshtml";
}

@{
    var message = TempData["Message"];
    var horaActual = DateTime.Now.ToString("HH:mm");
}

@if (message != null && !string.IsNullOrEmpty(message.ToString()))
{
    <div aria-live="polite" aria-atomic="true" class="position-fixed top-0 end-0 p-3" style="z-index: 1080;">
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div id="liveToast" class="toast text-bg-warning border-white" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
                <div class="toast-header bg-warning">
                    <strong class="me-auto">Autenticación</strong>
                    <small>justo ahora</small>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Cerrar"></button>
                </div>
                <div class="toast-body">
                    @message.ToString()
                </div>
            </div>
        </div>
    </div>
}

<div class="container-lg">
    <div class="row g-0">
        <div class="d-none d-md-flex col-md-6 bg-image"></div>
        <div class="col-md-6">
            <div class="login-container">
                <h3 class="login-heading">¡Bienvenido de nuevo!</h3>
                <form method="post" id="loginForm">
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="UsuarioCorreo" name="UsuarioCorreo" placeholder="name@example.com" required>
                        <label for="UsuarioCorreo">Correo electrónico</label>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-warning btn-login fw-bold" type="submit" id="btnConsultarEmpresas" asp-page-handler="OnGetEmpresasAsync">Consultar</button>
                    </div>

                    <div class="form-floating mb-3 d-none" id="empresaContainer">
                        <select class="form-select" id="EmpresaSelect" name="UuidEmpresa" required>
                            <option value="">Seleccione una empresa</option>
                        </select>
                        <label for="EmpresaSelect">Empresa</label>
                    </div>

                    <div class="form-floating mb-3 position-relative d-none" id="contraseniaContainer">
                        <input type="password" class="form-control" id="UsuarioContrasenia" name="UsuarioContrasenia" placeholder="Contraseña" required>
                        <label for="UsuarioContrasenia">Contraseña</label>
                    </div>

                    <div class="d-grid">
                        <button class="btn btn-warning btn-login fw-bold d-none" type="submit" id="btnLogin" disabled>Iniciar sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/script-login.js"></script>