@page "/MainForm"
@using Kubit.Core.Modelo.Templates
@using System.Text.Json
@model Kubit.Core.Cliente.Pages.MainFormModel

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item fw-bold">@this.Model.Directorio</li>
    </ol>
</nav>

<br />

<form id="mainForm" method="post" class="needs-validation" novalidate>
    @{
        int index = 0;
    }

    @foreach (var modelo in this.Model.Modelo.Campos)
    {
        var field = modelo;
        
        if (field.Value.Control != "submodel")
        {
            @await Html.PartialAsync("_Modelo", modelo)
        }

        else if (field.Value.Control == "submodel")
        {
            @if (field.Value.SubModelos != null)
            {
                foreach (var subModel in field.Value.SubModelos)
                {
                    var tabla = subModel.Tabla;
                    var header = field.Value.Label;
                    var hidden = field.Value.Hidden ?? false;

                    <div class="form-group mb-3 needs-validation @(hidden ? "d-none" : "")" novalidate id="SubValores_@tabla">
                        <div class="card mb-3">
                            <div class="card-header fw-bold">
                                @header
                            </div>
                            <div class="card-body">
                                @await Html.PartialAsync("_SubModelo", subModel)
                            </div>
                        </div>

                        <input type="hidden" id="hddSubValoresT_@tabla" name="SubValores[@index].Tabla" />
                        <input type="hidden" id="hddSubValoresD_@tabla" name="SubValores[@index].Datos" />

                        <div id="render_@tabla"></div>
                    </div>

                    index++;
                }
            }
        }
    }

    <input type="hidden" name="Valores.Tabla" value="@this.Model.Modelo.Tabla" />

    <br />

    @if (this.Model.Modelo.Campos?.Any() == true)
    {
        <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light me-md-2" type="submit" onclick="submitForm(event)">Guardar</button>
            <button class="btn btn-light" type="submit" onclick="submitRedirectToGrid('RedirectToGrid')">Salir</button>
        </div>
    }
    else
    {
        <p class='text-center'>La plantilla no está disponible. Contacte a su administrador</p>
        <div class="modal-footer d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-light" type="button" onclick="submitRedirectToGrid('RedirectToGrid')">Salir</button>
        </div>
    }
</form>